body {
    font-family: 'Gilroy-Regular', sans-serif;
    background-color: #fff; /* Start with white background */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    transition: background-color 1s ease; /* For smooth background-color transition */
}

/* Positioning for container-2 wrapper */
.container-2-wrapper {
    position: relative;
}

/* Hide all elements initially except container-2 */
header, .container-1, .container-3, .container-4, .container-5, .container-6 {
    opacity: 0;
}

/* General styles */
h1, h2, h3{
    font-family: 'Gilroy-Regular', sans-serif;
    color: #333;
}

nav a, .social-link {
    color: #333;
    text-decoration: none;
    font-family: 'Gilroy-Regular', sans-serif;
}

.custom-box, .container-1, .container-2, .container-3, .container-4, .container-5, .container-6 {
    border-radius: 20px;
    overflow: hidden;
    position: relative; /* To position .background absolutely */
}

.custom-box {
    background-color: #DDE4EA;
    box-shadow: none;
    border-radius: 20px;
    overflow: hidden;
}

.bg-danger {
    background-color: #DDE4EA !important;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
}

p {
    color: #666;
}

/* Fixed heights for containers */

.header{
    height: 101px;
    width: 100%;
    margin-bottom: 40px;
}
.container-1 {
    height: 479px;
}

.container-2 {
    height: 476px;
}

.container-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-3 {
    height: 726px;
}

.container-4, .container-5 {
    height: 351px;
}

.container-6 {
    height: 100%;
}

.row {
    margin-bottom: 20px;
    display: flex; /* Keep the row display */
    justify-content: space-between;
}

.row:last-child {
    margin-bottom: 0;
}

.container-4, .container-5 {
    margin-top: -250px; /* Fixed margin */
}

.navbar-container {
    max-width: 100%;
    margin: 0 auto;
    align-items: right;
    position: relative; /* To contain the .background */
}


/* Background Layer */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DDE4EA; /* Same as .custom-box */
    border-radius: 20px;
    opacity: 0; /* Initially hidden for animation */
    z-index: 1;
}

/* Modify .bg-light and .bg-danger backgrounds */
.container-3 .background, .container-4 .background, .container-5 .background, .container-6 .background {
    background-color: #ADC1D1; /* Bootstrap's bg-light */
}

.container-5 .background {
    background-color: #85A7CA; /* Bootstrap's bg-danger */
}

/* Content Layer */
.content {
    position: relative;
    z-index: 2; /* Above the background */
    opacity: 0; /* Initially hidden for animation */
}

/* Fixed Column widths */
.col-custom-1 { width: 40.5%; }
.col-custom-2 { width: 24.5%; }
.col-custom-3, .col-custom-4, .col-custom-5, .col-custom-6 { width: 32.5%; }

/* Adjust the row to accommodate the new widths */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

[class^="col-custom-"] {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

/* Main container */
.main-container {
    width: 1392px; /* Fixed width */
    max-width: 80%;
    margin: 0 auto;
}

/* Hover effects for containers */
.container-1:hover,
.container-2-wrapper:hover,
.container-3:hover,
.container-4:hover,
.container-5:hover,
.container-6:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    transition: transform 0.2s ease; /* Smooth transition for scaling */
}
